{% extends 'base.html' %}


{% block title %} Summary {% endblock %}

{% block body %} 

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="container col-md-3" style="">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    {% if lists==[] %}
    <div class="position-relative">
      <div class="position-absolute top-50 start-50 translate-middle">
        <p>There are no lists in the board</p>
        <h3 align="center">
          <a href="/{{user_name}}/createlist"><i class="bi bi-plus-circle"></i><br>Add a list</a>
        </h3>
      </div>

    {% else %}
      <div class="row row-cols-1 row-cols-md-5 g-4" style="padding-top:70px" align="center">
        {% for list in lists %}
          <div class="col">
            <div class="card">


              <div class="card text-bg-dark">
                <img src="../static/image.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <a href="/{{user_name}}/{{list.list_name}}/updatelist">
                    <i class="bi bi-pencil-square float-start" style="color:black; font-size:26px"></i>
                  </a>
                  <a href="/{{user_name}}/{{list.list_name}}/deletelist" onclick="return confirm('Are you sure you want to delete?')">
                    <i class="bi bi-trash3-fill float-end" style="color:black; font-size:26px"></i>
                  </a>
                  <div class="text-center" style="padding-top:60px">
                    <button class="btn btn-outline-dark btn-lg text-wrap col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{list.list_name}}
                    </button>
                  </div>
                </div>
              </div>  

              <div class="card-body">
                

                {% for l in cards %}
                  {% if l == list.list_name %}
                    {% for card in cards[l] %}
                      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle text-wrap btn-lg col-lg-12" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{card.card_name}}
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/{{user_name}}/{{list.list_name}}/{{card.card_name}}/updatecard">Edit</a></li>
                              <li><a class="dropdown-item" href="/{{user_name}}/{{list.list_name}}/{{card.card_name}}/deletecard" onclick="return confirm('Are you sure you want to delete?')">Delete</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="card-body">
                          <p class="card-text" style="display:inline">{{card.content}}</p>

                          <form class="d-inline-flex float-start" id="toggle{{card.id}}" action="/toggle/{{user_name}}" method="post">
                            <div class="form-check form-switch">
                              {% if card.toggle == '1' %}
                              <input class="form-check-input" type="checkbox" role="switch" name="toggle-input" id="{{card.id}}" onclick="toggle({{card.id}})" checked>
                              {% else %}
                              <input class="form-check-input" type="checkbox" role="switch" name="toggle-input" id="{{card.id}}" onclick="toggle({{card.id}})">
                              {% endif %}
                              <input hidden id="tog{{card.id}}" name="toggle-output">
                              <input hidden id="card{{card.id}}" name="card-id">
                              <input hidden   type="submit" value="Submit">
                            </div>
                          </form>

                        </div>
                        <div class="card-footer">
                          <small class="text-muted">deadline {{card.deadline}}</small>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>

              <h6 align="center">
                <a href="/{{user_name}}/{{list.list_name}}/createcard"><i class="bi bi-plus-circle"></i><br>Add card</a>
              </h6>

              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>

            </div>
          </div>
        {% endfor %}

        <div class="position-relative">
          <h3 class="position-absolute top-50" style="padding-left:75px;">
            <a href="/{{user_name}}/createlist"><i class="bi bi-plus-circle"></i><br>Add a list</a>
          </h3>
        </div>

      </div><br><br>
    </div>
    {% endif %}

{% endblock %}