{% extends 'base.html' %}

{% block title %} Summary {% endblock %}

{% block body %} 

    <div class="container col-md-8" style="padding-top:40px">
        <div class="card text-center">

            <div class="card-header">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-dark" type="button" id="barchart" value="bar" onclick="chart()">Bar Chart</button>
                    <button class="btn btn-dark" type="button" id="linechart" value="line" onclick="chart()">Line Chart</button>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <canvas id="stackedbar"></canvas>
                </div>
            </div>

        </div>
    </div>

    <script>
        let labels = JSON.parse({{labels | tojson}})
        let data1 = JSON.parse({{data1 | tojson}})
        let data0 = JSON.parse({{data0 | tojson}})
      
        const data = {
          labels: labels,
          datasets: [{
            label: 'Completed',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            // borderWidth: 1,
            data: data1,
          },
          {
            label: 'Not completed',
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            // borderWidth: 1,
            data: data0,
          }
        ]
        };        

        function chart() {
            // if (document.getElementById('barchart').value == 'bar') {
            //     button = 'bar'
            // }
            // if (document.getElementById('linechart').value == 'line') {
            //     button =  'line'
            // }

            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true,
                            beginAtZero: true
                        }
                    }
                }
                };

                const myChart = new Chart(document.getElementById('stackedbar'),
                config
                );
        }
      </script>

{% endblock %}